body{
  font-family: 'Source sans pro';
  margin: 0;
  padding: 0;
}
@import "lockup";
section{
  padding-top: 40px;
  padding-bottom: 40px;
}
*{
  box-sizing: border-box;
  transition:.76s ease-in-out all;
}
